@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "ChillRoundM","Microsoft Yahei",sans-serif;
}

@font-face {
    font-family: "ChillRoundM";
    src: local(""),
    url("assets/fonts/ChillRoundM.otf");
}